In [ ]:
!pip install -U numpy pandas plotnine

# Week 01 Assignment

Here's your chance to demonstrate that you can integrate both text and Python code into one report.

When the question asks you to perform a coding task, insert a code chunk after the question where you will write the Python code to answer that question. Be sure to run the code cell after answering each question and occassionaly, if not after every answer, click Runtime > Run all, so as to ensure your final report runs without error. That way if/when you break something, you know exactly in which cell the error lies.

The zeroth question is done for you as an example.

0. Calculate $3.14 + 3.14 / 2$. Insert a new code cell below, put the answer in the code cell, and then execute the cell by simultaneously pressing

* `command/âŒ˜ + return/enter`, if you are on a Mac, or
* `control/ctrl + return/enter`, if you are on a Windows machine.

In [ ]:
3.14 + 3.14 / 2

4.71

1. Calculate $2 ^ 5$ by typing this mathematical expression in the code cell below and then execute the cell and the entire notebook by clicking Rumtime > Run all.

In [ ]:
2 ** 5 # EAR nice find

32

2. Create new variable that holds a list that stores one of each of the following types: `int`, `float`, `string`, `bool`, and `list`.  Make up the variable name.

In [ ]:
A = [7, 6.13, "June", True, ["white", "black"]]
print(A)

[7, 6.13, 'June', True, ['white', 'black']]

3. Create a new variable that holds a dictionary that stores at least three made up pets.  The keys of the `dict` should be a pet name and the values should be the type of pet.  In this case, both keys and values are `string`s.

In [ ]:
pets = {
   "Oreo": "Cat",
   "Pop": "dragon",
   "Koo": "moon rabbit"
}

print(pets)

{'Oreo': 'Cat', 'Pop': 'dragon', 'Koo': 'moon rabbit'}

4. Execute the cell below to load the dataset `txhousing`, which contains "Information about the housing market in Texas provided by the TAMU real estate center, <http://recenter.tamu.edu/>".

In [ ]:
from plotnine.data import txhousing

5. Read about the dataset `txhousing` on the associated [plotnine txhousing metadata webpage](https://plotnine.readthedocs.io/en/v0.12.4/generated/plotnine.data.txhousing.html#plotnine.data.txhousing).

6. What columns does the DataFrame `txhousing` contain?

In [ ]:
txhousing.columns

Index(['city', 'year', 'month', 'sales', 'volume', 'median', 'listings',
       'inventory', 'date'],
      dtype='object')

> The coulums that `txhousing` contians are: 'city', 'year', 'month', 'sales', 'volume', 'median', 'listings',
       'inventory', 'date'.

Also the type of columns is as follows:

In [ ]:
txhousing.dtypes

city          object
year           int64
month          int64
sales        float64
volume       float64
median       float64
listings     float64
inventory    float64
date         float64
dtype: object

6. How many rows and columns are in `txhousing`?

In [ ]:
print(txhousing.shape)
txhousing.size

(8602, 9)

77418

7. Index the column `sales` from the dataset `txhousing`.

In [ ]:
txhousing.loc[:, "sales"]

0        72.0
1        98.0
2       130.0
3        98.0
4       141.0
        ...
8597    152.0
8598    129.0
8599    174.0
8600    143.0
8601    172.0
Name: sales, Length: 8602, dtype: float64

8. Write a sentence in a text cell that explains what each number of the column `sales` means.

> **ANSWER:** The **sales** column in the `txhousing` DataFrame represents the number of houses sold in that month in particular city.

9. Import the package numpy as np.

In [ ]:
import plotnine

import numpy as np
import pandas as pd

10. What is the maximum number in the column `sales`?  Interpret this number in the context of the data.

In [ ]:
sales = txhousing["sales"]
print(np.size(sales))
print(np.mean(sales))
print(np.std(sales))
print(np.quantile(sales, [0.25, 0.5, 0.75]))
sales.describe()

8602
549.5646004480956
1110.668049162739
[nan nan nan]

count    8034.000000
mean      549.564600
std      1110.737179
min         6.000000
25%        86.000000
50%       169.000000
75%       467.000000
max      8945.000000
Name: sales, dtype: float64

In [ ]:
txhousing.sales.describe()

count    8034.000000
mean      549.564600
std      1110.737179
min         6.000000
25%        86.000000
50%       169.000000
75%       467.000000
max      8945.000000
Name: sales, dtype: float64

11. What is the variable type in the column `city`?

In [ ]:
x = "city"
type(x)
# EAR I was expecting
# txhousing.dtypes
# and then you read the appropriate type from the output
# alternatively
# txhousing["city"].dtype

str

> city's variable type is string

In [ ]:
txhousing.dtypes # EAR oh, here it is :)

city          object
year           int64
month          int64
sales        float64
volume       float64
median       float64
listings     float64
inventory    float64
date         float64
dtype: object

In [ ]:
txhousing.city.dtypes

dtype('O')

12. Create a boolean Series for the rows where `city` is equal to Arlington.

In [ ]:
idx = txhousing.loc[:, "city"] == "Arlington"
idx

0       False
1       False
2       False
3       False
4       False
        ...
8597    False
8598    False
8599    False
8600    False
8601    False
Name: city, Length: 8602, dtype: bool

13. Calculate the mean `volume` for Arlington and interpret this number in context of the data.

In [ ]:
np.mean(txhousing.loc[idx, "volume"])

62241213.26737968

## Challenge Questions

In [ ]:
sales_2008orLater = txhousing[["year", "sales"]][txhousing["year"] >= 2008]

What is the median number of sales from 2008 or later?

In [ ]:
np.median(sales_2008orLater)

nan

In [ ]:
np.nanmedian(txhousing["sales"]) # EAR Â¡Â¡Â¡ Nice !!!

169.0

In [ ]:
np.nanmedian(txhousing["sales"][txhousing["year"] >= 2008])

160.0